:root{
--tan:#fffde8;
--copper:#ffd1a6;
--black:#000;
--white:#fff;
}

*{
box-sizing:border-box;
}

html{
scrollbar-width:thin;
scrollbar-color:var(--copper) var(--black);
}

::-webkit-scrollbar{
width:7px;
}

::-webkit-scrollbar-track{
background:var(--black);
border-radius:10px;
}

::-webkit-scrollbar-thumb{
background:var(--copper);
border-radius:10px;
}

body{
margin:0;
font-family:'Playwrite US Modern',sans-serif;
background:var(--tan);
color:var(--black);
font-size:16px;
line-height:1.6;
min-height:100vh;
display:flex;
flex-direction:column;
}
