footer,
.footer{
margin-top:auto;
padding:40px 0;
text-align:center;
font-size:14px;
}

.socials a{
margin:0 8px;
display:inline-block;
}

.footer-extended{
border-top:1px solid var(--black);
padding:64px 0;
margin-top:120px;
}

.footer-cols{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:48px;
margin-bottom:32px;
}

.footer-copy{
text-align:center;
font-size:14px;
}
