footer,
.footer{
margin-top:auto;
padding:56px 0;
text-align:center;
font-size:14px;
}

.footer-links{
display:flex;
justify-content:center;
gap:32px;
margin:32px 0;
flex-wrap:wrap;
}

.footer-links a{
color:#777;
text-decoration:none;
}

.footer-links a:hover{
color:#444;
}

.socials{
margin-bottom:24px;
}

.socials a{
margin:0 10px;
display:inline-block;
}
