.sign-in-form input{
border:1px solid var(--black);
padding:16px 18px;
font-family:'Playwrite US Modern',sans-serif;
font-size:16px;
width:100%;
}

.sign-in-form input::placeholder{
font-family:'Playwrite US Modern',sans-serif;
font-size:16px;
}
