.contact-section{
display:flex;
justify-content:center;
align-items:flex-start;
flex-direction:column;
padding-bottom:80px;
}

.contact-page{
margin-top:48px;
}

.contact-form-wrapper{
width:100%;
display:flex;
justify-content:center;
margin-top:48px;
}

.contact-form{
display:flex;
flex-direction:column;
gap:24px;
width:100%;
max-width:420px;
}

.contact-form input,
.contact-form select{
border:1px solid var(--black);
padding:16px 18px;
font-family:'Playwrite US Modern',sans-serif;
font-size:16px;
width:100%;
background:#fff;
height:52px;
}

.contact-form input::placeholder{
font-family:'Playwrite US Modern',sans-serif;
font-size:16px;
color:#777;
}

.contact-form select{
appearance:none;
color:#777;
}

.contact-form select:valid{
color:var(--black);
}

.contact-form button{
width:100%;
height:52px;
}
